/*

my own style

*/
#home {
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#aboutme {
    background-color: #f6f6f6;
    text-align: center;
}
.aboutme {
    position: relative;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    text-align: left;
}
hr.education {
    width: 330px;
}
hr.workExperience {
    width: 240px;
}
.timeline-body > ul > li {
    line-height: 28px;
    font-size: 15px;
}

#experience {
/*  background: rgba(225, 225, 225, 0.8); */
    color: inherit;
    background-image: url("../images/experience-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#experience .container {
  width: 98%;
  padding: 10px;
  margin: 10px;
}
#experience .section-title h1 {
    color: #ffffff;
}
#experience .head-experience {
    float: none;
}
span.projectTech > i {
    font-size: 0.8em;
}

.wrapperImgProject {
    margin-left: 1vw;
}
.progress {
    width: 200px;
}
.technology-50 {
    width: 50%;
}
.technology-70 {
    width: 70%;
}
.technology-80 {
    width: 80%;
}
.technology-90 {
    width: 90%;
}
.boldSkill {
    font-weight: bolder;
}
.nav-tabs > li > a {
  	color: rgba(64, 64, 64, 1);
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    color: rgba(0, 198, 215, 1);
}
#contact {
/*    background-attachment: fixed;*/
}
.tab-content a {
    cursor: pointer;
}
.tab-content a:hover {
    color: rgba(84, 142, 186, 1); /*#548eba*/
}
#contact a {
    color: rgba(225, 225, 225, 1);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
#contact a:hover {
    color: rgba(84, 142, 186, 1);
}
#contact .invalidInput {
    border: 2px solid #f00;
    background-color: #fee;
}

